[Desktop Entry]
Encoding=UTF-8
Name=Link para http://2.bp.blogspot.com/-yPOEPvqZL1E/T2K3R0q-W7I/AAAAAAAAAeo/6M8Nwgs9Csc/s1600/PowerButtonRed.png
Type=Link
URL=http://2.bp.blogspot.com/-yPOEPvqZL1E/T2K3R0q-W7I/AAAAAAAAAeo/6M8Nwgs9Csc/s1600/PowerButtonRed.png
Icon=image-png
